@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

h1 {
    color: #fff;
    font-size: 3rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

h1 a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}

h1 a:hover {
    background-color: rgb(255, 81, 0);    
}

h1.erro {
    justify-content: center;
}

main {
	margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article {
    max-height: 60vh;
    max-width: 90%;
    overflow: hidden;
}

main article.erro404 {
    font-family: 'Righteous', cursive;
    font-size: 170px;
    color: #fff;
    align-items: center;
}

div.detalhes {
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(255, 81, 0);
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

div.notfound {
    font-size: 2rem;
    color: #fff;
    background-color: #f00f;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

a.voltar {
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}

a.voltar:hover {
    text-decoration: underline;
}

@media (max-width:480px) {
    main article.erro404 {
        font-size: 100px;
    }
    main article.erro404 img {
        width: 90px ;
    }
}